openapi: 3.0.1
info:
  title: weMail Client API
  description: To find your API key go to `weMail > Settings > API Keys` on your WordPress dashboard.
  contact:
    email: support@getwemail.io
  version: 1.0.0
servers:
- url: https://api.getwemail.io/api/v1
tags:
- name: List
- name: Subscriber
- name: Tag
paths:
  /lists:
    get:
      tags:
      - List
      summary: List of list
      parameters:
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            'application/json':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  description:
                    type: string
                  subscribed:
                    type: string
                  unsubscribed:
                    type: string
                  unconfirmed:
                    type: string
                  created_at:
                    type: string
                    format: date-time
        401:
          description: Unauthorized
          content: {}
  /lists/{list_id}/subscribers:
    post:
      tags:
      - Subscriber
      summary: Create a subscriber
      parameters:
      - name: list_id
        in: path
        required: true
        schema:
          type: string
      - name: X-API-KEY
        in: header
        required: true
        schema:
          type: string
      requestBody:
        content:
          'application/json':
            schema:
              required:
              - email
              type: object
              properties:
                first_name:
                  type: string
                last_name:
                  type: string
                email:
                  type: string
                mobile:
                  type: string
                phone:
                  type: string
                address1:
                  type: string
                address2:
                  type: string
                country:
                  type: string
                date_of_birth:
                  type: string
                  format: date
                timezone:
                  type: string
                tags:
                  type: array
                  items:
                    type: string
                    description: Tag UUID
        required: true
      responses:
        200:
          description: OK
          content:
            'application/json':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  first_name:
                    type: string
                  last_name:
                    type: string
                  email:
                    type: string
                  mobile:
                    type: string
                  phone:
                    type: string
                  address1:
                    type: string
                  address2:
                    type: string
                  country:
                    type: string
                  date_of_birth:
                    type: string
                    format: date
                  timezone:
                    type: string
                  tags:
                    type: array
                    items:
                      type: object
                  created_at:
                    type: string
                    format: date-time
                  updated_at:
                    type: string
                    format: date-time
        401:
          description: Unauthorized
          content: {}
      x-codegen-request-body-name: body

  /lists/{list_id}/subscribers/{subscriber_id}:
    delete:
      tags:
        - Subscriber
      summary: Remove a subscriber from a list
      parameters:
        - name: list_id
          in: path
          required: true
          schema:
            type: string
        - name: subscriber_id
          in: path
          required: true
          schema:
            type: string
        - name: X-API-KEY
          in: header
          required: true
          schema:
            type: string

      responses:
        200:
          description: OK
          content:
            'application/json':
              schema:
                type: object
                properties:
                  message:
                    type: string
        403:
          description: Unauthorized
          content: { }
      x-codegen-request-body-name: body
  /lists/{list_id}/subscribers/{subscriber_id}/tags:
    get:
      tags:
        - Subscriber
      summary: Get the tags on a list subscriber.
      parameters:
        - name: list_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID for the list.

        - name: subscriber_id
          in: path
          required: true
          schema:
            type: string
          description: The MD5 hash of the lowercase version of the list subscriber's email address.

        - name: X-API-KEY
          in: header
          required: true
          schema:
            type: string

      responses:
        200:
          description: OK
          content:
            'application/json':
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string

        403:
          description: Unauthorized
          content: { }
      x-codegen-request-body-name: body
    post:
      tags:
        - Subscriber
      summary: Add or remove tags from a list subscriber. If a tag that does not exist is passed in and set 'use_id = false', a new tag will be created.
      parameters:
        - name: list_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID for the list.

        - name: subscriber_id
          in: path
          required: true
          schema:
            type: string
          description: The MD5 hash of the lowercase version of the list subscriber's email address.

        - name: X-API-KEY
          in: header
          required: true
          schema:
            type: string

      requestBody:
        content:
          'application/json':
            schema:
              required:
                - tags
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
                    description: Tag UUID or name
                use_id:
                  type: boolean
                  default: true
                is_sync:
                  type: boolean
                  default: false
        required: true
      responses:
        200:
          description: OK
          content:
            'application/json':
              schema:
                type: object
                properties:
                  message:
                    type: string

        403:
          description: Unauthorized
          content: { }
      x-codegen-request-body-name: body
    patch:
      tags:
        - Subscriber
      summary: Remove tags from a list subscriber. 'use_id = false', you can provide tag name.
      parameters:
        - name: list_id
          in: path
          required: true
          schema:
            type: string
          description: The unique ID for the list.

        - name: subscriber_id
          in: path
          required: true
          schema:
            type: string
          description: The MD5 hash of the lowercase version of the list subscriber's email address.

        - name: X-API-KEY
          in: header
          required: true
          schema:
            type: string

      requestBody:
        content:
          'application/json':
            schema:
              required:
                - tags
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
                    description: Tag UUID or name
                use_id:
                  type: boolean
                  default: true
        required: true
      responses:
        200:
          description: OK
          content:
            'application/json':
              schema:
                type: object
                properties:
                  message:
                    type: string

        403:
          description: Unauthorized
          content: { }
      x-codegen-request-body-name: body

  /lists/{list_id}/tags:
    get:
      tags:
      - Tag
      summary: Get tag
      parameters:
      - name: list_id
        in: path
        description: Numeric id of the list.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-KEY
        in: header
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
    post:
      tags:
      - Tag
      summary: Create tag
      parameters:
      - name: list_id
        in: path
        description: Numeric id of the list.
        required: true
        schema:
          type: integer
      - name: X-API-KEY
        in: header
        schema:
          type: string
      requestBody:
        description: Create a tag object
        content:
          'application/json':
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
        default:
          description: successful operation
          content: {}
      x-codegen-request-body-name: body
  /tags/{tag_id}:
    put:
      tags:
      - Tag
      summary: Update tag
      parameters:
      - name: tag_id
        in: path
        required: true
        schema:
          type: integer
      - name: X-API-KEY
        in: header
        schema:
          type: string
      requestBody:
        description: Update a tag object
        content:
          'application/json':
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
        required: true
      responses:
        200:
          description: OK
          content:
            '*/*':
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
      x-codegen-request-body-name: body
    delete:
      tags:
      - Tag
      summary: Delete tag
      parameters:
      - name: tag_id
        in: path
        description: Numeric id of the tag.
        required: true
        schema:
          type: integer
      - name: X-API-KEY
        in: header
        schema:
          type: string
      responses:
        200:
          description: OK
          content:
            'application/json':
              schema:
                type: object